<!-- this is the pass data code  -->
<!-- <div class="card-container">
  <div
    class="card"
    [ngClass]="{ flip: isFlipped }"
    (click)="isFlipped = !isFlipped"
  >
    <mat-card class="front-card">
      <p class="front-title">{{ data.info.jobTitle }}</p>
      <img [src]="data.info.image" alt="location specific patch" />
      <p class="front-location">{{ data.info.jobLocation }}</p>
    </mat-card>
    <mat-card class="back-card">
      <p class="back-title">Job Details:</p>
      <p></p>
    </mat-card>
  </div>
</div> -->

<!-- this is the dumb code -->
<!-- <div class="card-container">
  <div
    class="card"
    [ngClass]="{ flip: isFlipped }"
    (click)="isFlipped = !isFlipped"
  >
    <mat-card class="front-card">
      <p class="front-title">{{ jobs[0].jobTitle }}</p>
      <div class="image-container">
        <img [src]="jobs[0].image" alt="location specific patch" />
      </div>
      <p class="front-location">{{ jobs[0].jobLocation }}</p>
    </mat-card>
    <mat-card class="back-card">
      <p class="back-title">Job Details:</p>
      <p></p>
    </mat-card>
  </div>
</div> -->

<p class="front-title">{{ data.info.jobTitle }}</p>
<img [src]="data.info.image" alt="location specific patch" />
<p class="front-location">{{ data.info.jobLocation }}</p>
