<div class="dialog-wrapper">
  <div class="job-title">{{ data.info.jobTitle }}</div>
  <div class="header-wrapper">
    <div class="location-wrapper">
      <div class="job-company">{{ data.info.jobCompany }}</div>
      <div class="job-location">{{ data.info.jobLocation }}</div>
    </div>
    <div class="date-wrapper">
      <div class="job-dates">{{ data.info.jobDates }}</div>
    </div>
  </div>

  <div class="job-details-wrapper" *ngFor="let detail of data.info.jobDetails">
    <div class="job-duty">{{ detail.jobDuty }}</div>
    <ul>
      <li *ngFor="let item of detail.jobDetails">{{ item }}</li>
    </ul>
  </div>
  <div mat-dialog-actions class="actions" align="end">
    <button mat-icon-button (click)="closeDialog()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
